**importar a biblioteca pandas**

In [1]:
import pandas as pd

**criar a variável para receber o conteúdo do arquivo CSV (picoweb.csv), passando como parâmetros o separador de colunas (;), a engine - com o valor 'python' e o enconding (UTF-8) relativo aos dados constantes no arquivo lido (esse último parâmetro pode ser opcional, dependendo do enconding existente);atribuir os dados lidos do CSV à variável criada anteriormente; salvar as alterações; imprimir/exibir em tela os dados da variável.**

In [2]:
data = pd.read_csv('picoweb.csv', sep=';', engine='python', encoding='utf-8')

**no mesmo arquivo/script utilizado na microatividade 1, criar uma nova variável (subset); atribuir, a essa nova variável (subset), um subconjunto de dados contendo apenas parte das colunas (recomenda-se a utilização de 3 colunas) disponíveis no conjunto de dados original;**

In [24]:
subset = data[['ID','Duration','Pulse']]
display(subset)

    ID  Duration  Pulse
0    0        60    110
1    1        60    117
2    2        60    103
3    3        45    109
4    4        45    117
5    5        60    102
6    6        60    110
7    7       450    104
8    8        30    109
9    9        60     98
10  10        60    103
11  11        60    100
12  12        60    100
13  13        60    106
14  14        60    104
15  15        60     98
16  16        60     98
17  17        60    100
18  18        45     90
19  19        60    103
20  20        45     97
21  21        60    108
22  22        45    100
23  23        60    130
24  24        45    105
25  25        60    102
26  26        60    100
27  27        60     92
28  28        60    103
29  29        60    100
30  30        60    102
31  31        60     92

**usando as opções de configuração da biblioteca pandas, defina um novo valor para a propriedade “max_rows”, definindo o novo valor para 9999;**

In [26]:
pd.set_option('display.max_rows',9999)
display(data)

    ID  Duration          Date  Pulse  Maxpulse  Calories
0    0        60  '2020/12/01'    110       130    4091.0
1    1        60  '2020/12/02'    117       145    4790.0
2    2        60  '2020/12/03'    103       135    3400.0
3    3        45  '2020/12/04'    109       175    2824.0
4    4        45  '2020/12/05'    117       148    4060.0
5    5        60  '2020/12/06'    102       127    3000.0
6    6        60  '2020/12/07'    110       136    3740.0
7    7       450  '2020/12/08'    104       134    2533.0
8    8        30  '2020/12/09'    109       133    1951.0
9    9        60  '2020/12/10'     98       124    2690.0
10  10        60  '2020/12/11'    103       147    3293.0
11  11        60  '2020/12/12'    100       120    2507.0
12  12        60  '2020/12/12'    100       120    2507.0
13  13        60  '2020/12/13'    106       128    3453.0
14  14        60  '2020/12/14'    104       132    3793.0
15  15        60  '2020/12/15'     98       123    2750.0
16  16        60  '2020/12/16'     98       120    2152.0
17  17        60  '2020/12/17'    100       120    3000.0
18  18        45  '2020/12/18'     90       112       NaN
19  19        60  '2020/12/19'    103       123    3230.0
20  20        45  '2020/12/20'     97       125    2430.0
21  21        60  '2020/12/21'    108       131    3642.0
22  22        45           NaN    100       119    2820.0
23  23        60  '2020/12/23'    130       101    3000.0
24  24        45  '2020/12/24'    105       132    2460.0
25  25        60  '2020/12/25'    102       126    3345.0
26  26        60      20201226    100       120    2500.0
27  27        60  '2020/12/27'     92       118    2410.0
28  28        60  '2020/12/28'    103       132       NaN
29  29        60  '2020/12/29'    100       132    2800.0
30  30        60  '2020/12/30'    102       129    3803.0
31  31        60  '2020/12/31'     92       115    2430.0

**imprimir na tela as apenas as primeiras 10 linhas do conjunto de dados original (criado na microatividade 1)**

In [31]:
print("Imprimir as primeiras 10 linhas")
display(data.head(10))

Imprimir as primeiras 10 linhas

   ID  Duration          Date  Pulse  Maxpulse  Calories
0   0        60  '2020/12/01'    110       130    4091.0
1   1        60  '2020/12/02'    117       145    4790.0
2   2        60  '2020/12/03'    103       135    3400.0
3   3        45  '2020/12/04'    109       175    2824.0
4   4        45  '2020/12/05'    117       148    4060.0
5   5        60  '2020/12/06'    102       127    3000.0
6   6        60  '2020/12/07'    110       136    3740.0
7   7       450  '2020/12/08'    104       134    2533.0
8   8        30  '2020/12/09'    109       133    1951.0
9   9        60  '2020/12/10'     98       124    2690.0

**imprimir na tela as apenas as últimas 10 linhas do conjunto de dados original (criado na microatividade 1)**

In [32]:
print("Imprimir as últimas 10 linhas")
display(data.tail(10))

Imprimir as últimas 10 linhas

    ID  Duration          Date  Pulse  Maxpulse  Calories
22  22        45           NaN    100       119    2820.0
23  23        60  '2020/12/23'    130       101    3000.0
24  24        45  '2020/12/24'    105       132    2460.0
25  25        60  '2020/12/25'    102       126    3345.0
26  26        60      20201226    100       120    2500.0
27  27        60  '2020/12/27'     92       118    2410.0
28  28        60  '2020/12/28'    103       132       NaN
29  29        60  '2020/12/29'    100       132    2800.0
30  30        60  '2020/12/30'    102       129    3803.0
31  31        60  '2020/12/31'     92       115    2430.0

In [ ]:
print("Informações gerais sobre o conjunto de dados:")
display(data.info())